
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Add Employee Bank ESIC PF";
}

<style>
    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        display: none;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;
    }

    .alertS {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;
    }

    .alert-warning {
        border-color: #e08e0b;
        width: 40%;
        margin-left: 30%;
        height: 50%;
        margin-top: 5%;
    }

    .alert-footer {
        padding: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }

    .alert-success {
        border-color: #008d4c;
        width: 50%;
        margin-left: 30%;
        height: 20%;
        margin-top: 5%;
    }
</style>

<section class="content-header">
    <h1>
        Add Employee Bank/ESIC/PF
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="box box-default">
        <div class="box-body">
            <form asp-controller="Employee" asp-action="AddEmployeeDetails" method="POST">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="txtFName">Employee Number<span style="color:#FF0000;">*</span></label>
                                <input type="text" id="txtMobileNo" name="ContactNumber" class="form-control" maxlength="10" min="10" placeholder="" onkeypress='return restrictAlphabets(event)' onchange="ValidateMobileNo(this)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="ddlEmployeeNoSelection">Employee Name</label>
                                <select class="form-control select2" id="ddlEmployeeNoSelection" name="EmployeeNoSelection">
                                    <option value="Manual Entry"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-group" id="accordion">
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->

                    <div id="divPanelBox1" class="panel box" style="border-top: none !important; background-color:#ddd6;">
                        <div class="box-header">
                            <h4 class="box-title">
                                Bank Details
                            </h4>
                            <div class="box-tools pull-right">
                                <button id="btnPToggle1" type="button" class="btn btn-box-tool" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" title="Collapse" onclick="onToggle(this)">
                                    <i id="iconPToggle1" class="fa fa-minus"></i>
                                </button>
                            </div>

                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <hr style="border-top: 1px solid #d2d6de;" />
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">Bank Name<span style="color:#FF0000;">*</span></label>
                                                        <select class="form-control select2" id="ddlEmployeeNoSelection" name="EmployeeNoSelection">
                                                            <option value="SBI">SBI</option>
                                                            <option value="ICICI">ICICI</option>
                                                            <option value="HDFC">HDFC</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">Bank Branch<span style="color:#FF0000;">*</span></label>
                                                        <select class="form-control select2" id="ddlEmployeeNoSelection" name="EmployeeNoSelection">
                                                            <option value="Kothrud">Kothrud</option>
                                                            <option value="Warje">Warje</option>
                                                            <option value="Pashan">Pashan</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">Account Type<span style="color:#FF0000;">*</span></label>
                                                        <select class="form-control select2" id="ddlEmployeeNoSelection" name="EmployeeNoSelection">
                                                            <option value="Saving">Saving</option>
                                                            <option value="Fixed">Fixed</option>
                                                            <option value="Current">Current</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">Account No<span style="color:#FF0000;">*</span></label>
                                                        <input type="text" id="txtFName" name="FirstName" class="form-control" placeholder="First Name" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">IFSC Code<span style="color:#FF0000;">*</span></label>
                                                        <input type="text" id="txtFName" name="FirstName" class="form-control" placeholder="First Name" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">Employee Name As Bank Records<span style="color:#FF0000;">*</span></label>
                                                        <input type="text" id="txtFName" name="FirstName" class="form-control" placeholder="First Name" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">IBAN<span style="color:#FF0000;">*</span></label>
                                                        <input type="text" id="txtFName" name="FirstName" class="form-control" placeholder="First Name" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">Payment Method<span style="color:#FF0000;">*</span></label>
                                                        <select class="form-control select2" id="ddlEmployeeNoSelection" name="EmployeeNoSelection">
                                                            <option value="Cash">Cash</option>
                                                            <option value="Cheque">Cheque</option>
                                                            <option value="BankTransfer">Bank Transfer</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="divPanelBox2" class="panel box" style="border-top: none !important;">
                        <div class="box-header">
                            <h4 class="box-title">
                                ESIC Details
                            </h4>
                            <input type="hidden" id="hndCallingView1" name="CallingView1" class="form-control">
                            <div class="box-tools pull-right">
                                <button id="btnPToggle2" type="button" class="btn btn-box-tool" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" title="Expand" onclick="onToggle(this)">
                                    <i id="iconPToggle2" class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <hr style="border-top: 1px solid #d2d6de;" />
                            <div class="box-body" style="margin-top: -3%;">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">ESIC Is Applicable<span style="color:#FF0000;">*</span></label>
                                                        <input type="checkbox" id="txtFName" name="FirstName">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">ESIC Account No<span style="color:#FF0000;">*</span></label>
                                                        <input type="text" id="txtFName" name="FirstName" class="form-control" placeholder="First Name" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel box" id="divPanelBox3" style="border-top: none !important;">
                        <div class="box-header">
                            <h4 class="box-title">
                                PF Details
                            </h4>
                            <div class="box-tools pull-right">
                                <button id="btnPToggle3" type="button" class="btn btn-box-tool" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" title="Expand" onclick="onToggle(this)">
                                    <i id="iconPToggle3" class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <hr style="border-top: 1px solid #d2d6de;" />
                            <div class="box-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">PF Account No<span style="color:#FF0000;">*</span></label>
                                                        <input type="text" id="txtFName" name="FirstName" class="form-control" placeholder="First Name" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">UAN<span style="color:#FF0000;">*</span></label>
                                                        <input type="text" id="txtFName" name="FirstName" class="form-control" placeholder="First Name" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">Start Date<span style="color:#FF0000;">*</span></label>
                                                        <input type="text" id="txtFName" name="FirstName" class="form-control" placeholder="First Name" onkeydown="preventNumberInput(event)" onkeyup="preventNumberInput(event)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">PF Is Applicable<span style="color:#FF0000;">*</span></label>
                                                        <input type="checkbox" id="txtFName" name="FirstName">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">Allow EPF Excess Contribution<span style="color:#FF0000;">*</span></label>
                                                        <input type="checkbox" id="txtFName" name="FirstName">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="txtFName">Allow EPS Excess Contribution<span style="color:#FF0000;">*</span></label>
                                                        <input type="checkbox" id="txtFName" name="FirstName">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="box-footer">
                <button type="submit" id="btnSaveAll" class="btn btn-primary" style="float: right; margin-right: 4%;" onclick="validateData(event);"> Save All </button>
            </div>*@

                </div>

                <div class="box-footer">
                    <div class="col-md-6">
                        <div class="form-group">
                        </div>
                    </div>
                    <div class="col-md-6">
                        @*<button type="button" id="btnNext1" class="btn btn-warning" style="float: right; margin-right: 8%" onclick="NextClick(event, '2')">Next </button>*@
                        <button type="submit" id="btnSave" class="btn btn-primary" style="float: right; margin-right: 4%;" onclick="validateData(event);">Save</button>
                        <div style="display:none;">
                            <button id="btnSaveOnly" type="submit" class="btn btn-primary" style="float: right; margin-right: 4%;">Save</button>
                        </div>
                    </div>

                </div>

            </form>

            <div style="display:none;">
                <button type="button" id="btnAlert" class="btn btn-info" data-toggle="modal" data-target="#modal-warning">
                </button>
                <button type="button" id="btnSuccess" class="btn btn-success" data-toggle="modal" data-target="#modal-success">
                </button>
            </div>


            <div class="alert alert-warning fade" id="modal-warning">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>
                    <i class="icon fa fa-warning"></i> Alert!
                </h4>

                <div id="alertBody" style="margin-top: 6%; margin-left: 10%;">
                </div>

                <div class="alert-footer">
                    <button type="button" class="btn btn-outline" data-dismiss="modal">Ok</button>
                </div>
            </div>


            <div class="modal modal-warning fade" id="modal-warning2">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Alert!</h4>
                        </div>
                        <div class="modal-body">
                            <p>One fine body&hellip;</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-outline" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                    @*/.modal-content*@
                </div>
                @*/.modal-dialog*@
            </div>
            <!-- /.modal -->

            <div class="alertS alert-success" id="modal-success" style="display:none;">
                <button type="button" class="close" aria-hidden="true" onclick="successAlertClose()">&times;</button>
                <h4><i class="icon fa fa-check"></i> Success </h4>

                <p id="successBody"></p>

            </div>

        </div>
    </div>
</section>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
                document.getElementById("successBody").innerHTML = "@ViewBag.Message";
                document.getElementById("modal-success").style.display = "block";
              };
    </script>
}


@section Scripts {
    @*<script>

            $(document).ready(function () {
                $("#liEmployee").addClass("active");
                $("#liAddEmployee").addClass("active");
                document.getElementById("liAddEmployee").style.backgroundColor = "#3c8dbc45";
            });

            function chkEnablePFChange(chkEnablePFChange) {
                if (chkEnablePFChange.checked) {
                    document.getElementById("txtPfnumber").disabled = false;
                    document.getElementById("txtUANNumber").disabled = false;
                }
                else {
                    document.getElementById("txtPfnumber").disabled = true;
                    document.getElementById("txtUANNumber").disabled = true;
                }

            }

            function chkEnableESIChange(chkEnableESIChange) {
                if (chkEnableESIChange.checked)
                    document.getElementById("txtESINumber").disabled = false;
                else
                    document.getElementById("txtESINumber").disabled = true;
            }

            function EmployeeNumberCheck(txtemployeeNumber) {

                var employeeNumber = txtemployeeNumber.value;

                 $.ajax({
                    type: "GET",
                    url: "@Url.Action("EmployeeNumberExists", "Employee")",
                    data: { empNumber: employeeNumber},
                    dataType: "JSON",
                     success: function (response) {
                         if (response == "True") {
                             txtemployeeNumber.value = "";
                             alert("Employee number already exists.")
                         }
                    },
                    error: function (req, status, error) {
                        //console.log(msg);
                    }
                });
            }

            $('#chkEnableLWF').click(function () {
                $('#chkEnableLWF').val($(this).is(':checked'));
            });

            $('#chkEnableESI').click(function () {
                $('#chkEnableESI').val($(this).is(':checked'));
            });

            $('#chkIsSelfOnboarding').click(function () {
                $('#chkIsSelfOnboarding').val($(this).is(':checked'));
            });

            function NextClick(event, nextSection) {
                switch (nextSection) {
                    case "1": document.getElementById("anchr1").click(); break;
                    case "2": if (validateData(event)) { return false; } else { document.getElementById("anchr2").click(); } break;
                    case "3": document.getElementById("anchr3").click(); break;
                    case "4": document.getElementById("anchr4").click(); break;
                    case "5": document.getElementById("anchr5").click(); break;
                }
            }

            function validateData(event) {
                var IsAnyEmpty = false;


                var alertMsg = "";

                if (document.getElementById("txtEmpNo").value == "") {
                    IsAnyEmpty = true;
                    alertMsg = "Employee Number <br />";
                }
                if (document.getElementById("txtFName").value == "") {
                    IsAnyEmpty = true;
                    alertMsg = alertMsg + "First Name <br />";
                }
                if (document.getElementById("txtLName").value == "") {
                    IsAnyEmpty = true;
                    alertMsg = alertMsg + "Last Name <br />";
                }
                if (document.getElementById("txtMobileNo").value == "") {
                    IsAnyEmpty = true;
                    alertMsg = alertMsg + "Mobile Number <br />";
                }
                if (document.getElementById("txtEmail").value == "") {
                    IsAnyEmpty = true;
                    alertMsg = alertMsg + "Email <br />";
                }
                if (document.getElementById("dtDateOfJoining").value == "") {
                    IsAnyEmpty = true;
                    alertMsg = alertMsg + "Date of Joining <br />";
                }

                if (IsAnyEmpty) {

                    event.preventDefault();

                    document.getElementById("btnAlert").click();

                    $('#alertBody').html(

                        '<p>' + alertMsg +  '<br /> can not be empty </p>'

                    );

                    IsAnyEmpty = true;
                }


                return IsAnyEmpty;
            }

            function ValidateMobileNo(txtMobileNo) {
                var mobileNo = txtMobileNo.value;

                if (mobileNo.length < 10) {
                    txtMobileNo.value = "";
                    alert("Please enter valid mobile number.");
                }
            }

            function preventNumberInput(e) {
                var keyCode = (e.keyCode ? e.keyCode : e.which);
                if (keyCode > 47 && keyCode < 58 || keyCode > 95 && keyCode < 107) {
                    e.preventDefault();
                }
            }

            function restrictAlphabets(e) {
                var x = e.which || e.keycode;
                if ((x >= 48 && x <= 57))
                    return true;
                else
                    return false;
            }

            function ValidateEmail(txtEmail) {
                var emailId = txtEmail.value;
                var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                if (!expr.test(emailId)) {
                    txtEmail.value = "";
                    alert("Please enter valid email.");
                }
            }

            function successAlertClose() {
                document.getElementById("modal-success").style.display = "none";
            }

        </script>*@
}
